
<!-- Carousel -->
<div id="myCarousel" class="container" style="width: 60%">
  <h2 align="center">Welcome to Employee Portal</h2>
  <div></div>
  <img src="../../assets/img3.jpg" style="width:100%;height: 70%">
  <div ></div>  
</div>


