<div  *ngIf="employees && employees.length==0" style="text-align: center">
<h3>Sorry! there are no Employees</h3>
  <h4>Proceed to <a class="nav-link" (click)="route()">'Register'</a> tab to add new employees. Thank you! :)</h4>
</div>
<div *ngIf="employees && employees.length>0" class="container">
  <h2>Employee Details</h2>
<div class="mat-elevation-z8">
  <mat-table style="text-align: center" #table [dataSource]="dataSource" matSort>

    <!-- first name Column -->
    <ng-container matColumnDef="firstName">

      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.firstName}}</mat-cell>
    </ng-container>

    <!-- last name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.lastName}}</mat-cell>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.gender}}</mat-cell>
    </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dob</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.dob}}</mat-cell>
    </ng-container>

    <!-- department Column -->
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Department</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.department}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let emp" >
           <button mat-icon-button (click)="deleteEmployee(emp.id)"><mat-icon>delete</mat-icon></button> 
      </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  
</div>
</div>
